
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
  <ion-tab title="首页" icon-on="tab-home-selected-icon" icon-off="tab-home-nor-icon" href="#/tab/home">
    <!--显示内容的部分-->
    <!--home是路由中 视图的名字-->
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="圈子" icon-on="tab-circle-selected-icon" icon-off="tab-circle-nor-icon" href="#/tab/circle">
    <!--显示内容的部分-->
    <ion-nav-view name="circle"></ion-nav-view>
  </ion-tab><ion-tab title="消息" icon-on="tab-message-selected-icon" icon-off="tab-message-nor-icon" href="#/tab/message">
  <!--显示内容的部分-->
  <ion-nav-view name="message"></ion-nav-view>
</ion-tab>
  <ion-tab title="我" icon-on="tab-user-selected-icon" icon-off="tab-user-nor-icon" href="#/tab/user">
    <!--显示内容的部分-->
    <ion-nav-view name="user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
