<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="名字" ng-model="user.userName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="电话" ng-model="user.phone">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="年龄" ng-model="user.age">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="性别" ng-model="user.sex">
      </label>
      <button class="button button-full button-balanced" ng-click="register()">注册</button>
    </div>


  </ion-content>
</ion-view>
