<ion-view view-title="个人中心" hide-nav-bar="true">
  <ion-content>

    <ion-list>
      <ion-item href="#/tab/user/register" class="user-header item item-image item-assertive">
        <img src="../www/img/home/z_me_head.png" alt="头像" max-width=60px>
        请登录/注册
      </ion-item>
      <ion-item class="row">
        <!--<button class="button-clear button-dark">0</button>-->
        <!--<button class="button-clear button-dark">0</button>-->

        <a class="col-50 user-button" href="#/tab/user/posts">
          <p>0</p>
          <p>帖子</p>
        </a>
        <a class="col-50 user-button" href="#/tab/user/posts">
          <p>0</p>
          <p>菜谱</p>
        </a>

      </ion-item>

      <ion-item class="item-divider"></ion-item>
      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-heart assertive"></span>我的收藏
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>
      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-ios-cloud-download  positive"></span>我的下载
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>
      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-ios-eye balanced"></span>浏览历史
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>
      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-social-usd energized"></span>我的积分
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>

      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-android-list assertive"></span>我的订单
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>

      <ion-item class="item-divider"></ion-item>
      <ion-item href="#" class="item item-icon-left item-icon-right">
        <span class="icon ion-ios-cog dark"></span>系统设置
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>

