
* {
    margin: 0;
    padding: 0;
}

.nav-container .top-nav {
    width: 90%;
    height: 44px;
    background-color: #103e6c;
    margin: 5px auto;
    list-style: none;

    display: flex;
}

.nav-container .top-nav li {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    color: white;
}
