<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .red {
            width: 300px;
            height: 300px;
            background-color: #640002;
        }
    </style>
    <script src="angular.js"></script>
</head>
<body>

<!--1.-->
<!--<label for="user-name">用户名:</label>-->
<!--<input id="user-name" type="text" ng-model="name">-->
<!--<p ng-bind="name"></p>-->

<!--2.-->
<!--<div ng-init="name='xiaoming'">-->
    <!--<label for="user-name">用户名:</label>-->
    <!--<input id="user-name" type="text" ng-model="name">-->
    <!--<p ng-bind="name"></p>-->
<!--</div>-->

<!--3.-->
<!--<input type="text" ng-value="name='xiaoming'">-->

<!--4.-->
<!--<div ng-init="list=[111,222,333,444]">-->

    <!--<ul ng-repeat="item in list">-->
        <!--<li ng-bind="item"></li>-->
    <!--</ul>-->
<!--</div>-->

<!--5.-->
<!--<div ng-init="ischecked = true">-->
    <!--<input type="radio" ng-checked=ischecked>-->
<!--</div>-->

<!--6.-->
<!--<div ng-init="isShow = false">-->
    <!--<p ng-show=isShow>34567u8</p>-->
<!--</div>-->

<!--7.-->
<!--<div ng-init="className='red'">-->
    <!--<button ng-class=className>提交</button>-->
<!--</div>-->

<!--8.-->
<!--<div>-->
    <!--<input type="checkbox" ng-model="selected">-->
    <!--<div ng-if=selected>12345675432</div>-->
<!--</div>-->

<!--9.-->
<!--<div ng-init="num=2">-->
    <!--<div ng-switch="num">-->
        <!--<p ng-switch-default=0>111</p>-->
        <!--<p ng-switch-when=1>222</p>-->
        <!--<p ng-switch-when=2>333</p>-->
        <!--<p ng-switch-when=3>4444</p>-->
    <!--</div>-->
<!--</div>-->

<!--10.-->
<!--<div ng-init="num=0">-->
    <!--<button ng-click="num=num+1">{{num}}</button>-->
<!--</div>-->


</body>
</html>