

<ion-view>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="皮皮帐号" ng-model="info.pipiID">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="用户名" ng-model="info.username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="手机" ng-model="info.phone">
      </label>
    </div>

    <button ng-click="verifyUserInfo()" class="button button-balanced button-full">找回密码</button>
  </ion-content>
</ion-view>
