


<ion-view view-title="登录">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="皮皮帐号" ng-model="user.pipiNum">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="密码" ng-model="user.password">
      </label>
      </div>
    <button ng-click="toLogin()" class="button button-balanced button-full">登录</button>
    <a href="#tab/user/login/gotPassword">找回密码</a>
  </ion-content>
</ion-view>
