#carousel {
    height: 600px;
    width: 1200px;
    margin: 0 auto;
    background: #000;
}

#carousel .controlButton{
    position: absolute;
    top:50%;
    font-size: 40pt;
    color: #ffffff;
    cursor: pointer;
}

#carousel .preButton {
    left: 60px;
}

#carousel .nextButton {
    right: 60px;
}

